includes:
    - vendor/symplify/phpstan-rules/config/symfony-rules.neon
    - vendor/symplify/phpstan-rules/config/services-rules.neon
    - vendor/symplify/phpstan-rules/config/naming-rules.neon
    - vendor/symplify/phpstan-rules/config/test-rules.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
        - tests/bootstrap.php

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml

