{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.fieldOne) }}

    {{ form_rest(form) }}
    <input type="submit" name="submit" value="firstPlainButton"/>
    <button name="submit" value="secondPlainButton">
        secondPlainButton
    </button>
    {{ form_end(form) }}
{% endblock body %}
